@use '../../styles/mixin' as *;
@use '../../styles/variaveis' as *;

.container-letter{
    @include flex(center, row);
    background-color: $roxo;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-top: 80px;
}
.info-letter{
    width: 50%;
}
.container-inputs{
    @include flex(space-between, row);
    width: 100%;
    column-gap: 5px;

    @media screen and (min-width: 2000px) {
    width: 100%;
  }


}
.container-ajuste{
    width: 90%;
    @include flex(space-between, row);
    flex-wrap: wrap;
    @media screen and (min-width: 2000px) {
    width: 76%;
  }
}
.title-letter{
    color: $branco;
    font-size: 32px;
    font-weight: 600;
}
.descricao-letter{
    font-size: 14px;
    color: $branco;
    font-weight: 200;
}
.estilo-input{
    outline: none;
    border: none;
    border-radius: 7px;
    height: 42px;
    font-size: 14px;
    padding-left: 25px;
    width: 40%;
    margin-bottom: 5px;

}

.btn-inscrever{
    background-color: $amarelo;
    height: 42px;
    width: 157px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;

}
.container-inputs-check{
    width: 50%;
     
}
.text-label{
    color: $branco;
    font-size: 14px;
    font-weight: 300; 
    padding-left: 5px;
}