@use '../../styles/mixin' as *;

.btn-categoria{
    @include flex(center, column);
    width: 152px;
    height: 132px;
    border-radius: 10px;
    border: none;
    background-color: #F4F4F4 ;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.12);

}
.img-btn{
    width: 61px;
    height: 61px;
}
.btn-categoria.active {
  background-color: #ffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);
}