.btn-categoria{
    width: 128px;
    height: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5 5 5 5;

}
.img-btn{
    width: 100px;
    height: 50px;
}