@use '../../styles/mixin' as *;
@use '../../styles/variaveis' as *;


.container-footer{
    @include flex(space-between, row);
    width: 90%;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 7%;
    flex-wrap: wrap;
    @media screen and (min-width: 2000px) {
    width: 76%;
  }
    

}
.container-footer-background{
    width: 100%;
    background-color: #F4F4F4;
     @include flex(center, column);
     
}
.logo-footer{
      width: 164px;
      height: 48px; 
}
.text-footer{
    font-size: 14px;
    font-weight: 300;
    margin-top: 12px;
}
.text-footer-logo{
    font-size: 14px;
    font-weight: 300;
    margin-top: 7px;
}
.title-footer{
    font-size: 16px;
    font-weight: 600;
    color: #222222af;
}
.divider-footer{
    width: 1px;
  align-self: stretch;
  background-color: #3b3b3b4d;
}

.redesSociais{
    @include flex(space-between, row);
    width: 124px;
    margin-top: 30px;
}
.rodape{
    background-color: #fff;
    width: 100%;
    @include flex(center, row);
    height: 50px;
    font-size: 13px;
    color: #3F3F40;

}
.img-icon-footer{
    width: 24px;
    height: 24px;
}
.estilo-link{
    outline: none;
    list-style: none;
}